<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="replyMapper">
	<resultMap type="reply" id="reply_rm">
		<id property="replyNo" column="REPLY_NO"/>
		<result property="replyContent" column="REPLY_CONTENT"/>
		<result property="createDate" column="CREATE_DT"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="boardNo" column="BOARD_NO"/>
		<result property="memberNickname" column="MEMBER_NICK"/>
		<result property="parentReplyNo" column="PARENT_REPLY_NO"/>
	</resultMap>

	
	<select id="selectReply" parameterType="_int" resultMap="reply_rm">
		SELECT REPLY_NO, REPLY_CONTENT , CREATE_DT , MEMBER_NO , BOARD_NO , PARENT_REPLY_NO,  MEMBER_NICK  FROM REPLY_S 
		JOIN MEMBER_S
		USING(MEMBER_NO) WHERE BOARD_NO = ${boardNo}
		AND REPLY_ST = 'N' 
		START WITH PARENT_REPLY_NO IS NULL CONNECT BY PRIOR REPLY_NO = PARENT_REPLY_NO
	</select>
	
	<insert id="insertReply" parameterType="reply">
		INSERT INTO REPLY_S VALUES(SEQ_REPLY_NO_S.NEXTVAL, #{replyContent}, DEFAULT, DEFAULT, ${memberNo}, ${boardNo}, 
		<if test="parentReplyNo != -1">
		${parentReplyNo})
		</if>
		<if test="parentReplyNo == -1">
		NULL)
		</if>
	</insert>

	<update id="updateReply">
		UPDATE REPLY_S SET REPLY_CONTENT = #{replyContent} WHERE REPLY_NO = ${replyNo}
	</update>
	
	<update id="deleteReply">
		UPDATE REPLY_S SET REPLY_ST = 'Y' WHERE REPLY_NO = ${replyNo}
	</update>
	
</mapper>
